<p-toast></p-toast>
<div class="row" style="margin-top:100px">
    <div class="recordings-form">
            <h1>Recordings Create</h1>
            <form [formGroup]="recordingsForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="client" >Client</label>
                        <p-dropdown [options]="clients"  placeholder="Select a Client" formControlName="client"  optionLabel="label"></p-dropdown>
                    </div>
                    <div class="p-field p-col">
                        <label for="project">Project</label>
                        <p-dropdown [options]="projects"  placeholder="Select a Project" formControlName="project" optionLabel="label"></p-dropdown>
                    </div>
                    <div class="p-field p-col">
                        <label for="file" >Select File</label>
                        <input type="file" #fileInput (change)="onFileSelect($event)" accept="audio/*" pInputText />
                    </div>
                </div>
                <div class="submit">
                    <p-button type="Submit" label="Submit" [disabled]="!recordingsForm.valid || isDisabled"
                    iconPos="right"
                    [icon]="isCompleted ? 'pi pi-check' : isProgress ? 'pi pi-spin pi-spinner' : '' "></p-button>
                </div>
            </form>
    </div>
</div>
