<p-toast></p-toast>
<div class="row" style="margin-top:100px">
        <div class="recordings">
            <h1>Recordings</h1>
            <form [formGroup]="recordingsListForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="client">Client</label>
                        <p-dropdown [options]="clients"  placeholder="Select a Client" formControlName="client"  optionLabel="label"></p-dropdown>
                    </div>
                    <div class="p-field p-col">
                        <label for="project">Project</label>
                        <p-dropdown [options]="projects"  placeholder="Select a Project" formControlName="project" optionLabel="label"></p-dropdown>
                    </div>
                    <div class="p-field p-col submit-btn">
                        <p-button type="Submit" label="Submit" [disabled]="!recordingsListForm.valid || isDisabled"
                        iconPos="right" [icon]="isProgress ? 'pi pi-spin pi-spinner': '' "></p-button>
                    </div>
                </div>
            </form>
        </div>
</div>
<div class="row">
    <app-datatable [tableData]="tableData" ></app-datatable>
</div>
