<p-table [value]="tableData" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recordings>
        <tr>
            <td>{{recordings.client}}</td>
            <td>{{recordings.project}}</td>
            <td>{{recordings.fileName}}</td>
            <td>{{recordings.status}}</td>
            <td>
                <div>
                    <audio controls style="width: 100px;height: 25px;">
                        <source src="{{recordings.link}}" type="audio/mpeg">
                        <i class="pi pi-play"></i>
                    </audio>
                    <span><i *ngIf="recordings.status == 'Archived' " class="pi pi-undo"></i></span>
                    <span><i *ngIf="recordings.status != 'Archived' " class="pi pi-briefcase"></i></span>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>